
{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> 
        DashBoard | {{ user.first_name }}
    </title> 
    <link 
        rel="stylesheet"
        href="{% static 'css/mould_reg.css' %}" > 
{% endblock %}

{% block body_content %}
    <nav 
        class="navbar navbar-light dashboard_nav">
        <div class="container-fluid dashboard_nav">
            <p class="h1 dashboard_title"> 
                <a href="{% url 'homePage' %}" style="text-decoration:None;">
                  DashBoard 
                </a> 
            </p> 


            <div class="user_data"> 
                <p class="h3"> 
                    {{ request.user.first_name }}, 
                    <a href="{% url 'userLogout' %}"> 
                        Logout
                    </a> 
                </p> 
            </div> 
        </div>
    </nav>
    
    {% if mouldRegistered %}
      
       <div class="alert alert-success" role="alert">
          {{ mouldName }} Mould has been, Registered you can add some more register. 
       </div>
   
    {% endif %}

    <div class="container"> 
   
        <form method="POST" action="." autocomplete="off"> 
        {% csrf_token %}
        <legend>
            <p class="h2" style="padding-left : 150px;">  
            Mould Update 
            </p>  
        </legend> 


        <div 
            class="mb-3">
            
            <label 
                for="exampleInputEmail1" 
                class="form-label">
                <b>
                Mould Number 
                </b>
            </label>
            
            <select 
                class="form-select" 
                id="inputGroupSelect01"
                name="mouldID"
                required >
                <option selected value="-1">Select</option>
                {% for mould in Mould_Data %}
                    <option value="{{ mould.mould_id }}">{{ mould.mould_name }}</option>
                {% endfor %}
            </select>
        
        </div>

       <div 
            class="mb-3">
            
            <label 
                for="exampleThresholdValue" 
                class="form-label">
                <b>
                Today increment 
                </b>
            </label>
            
            <input 
            type="number" 
            name = "increment"
            class="form-control" 
            id="thresholdValue" 
            aria-describedby="thresholdValue"
            required >
        </div> 

        <div 
            class="mb-3 submitButton">

            <button type="submit" class="btn btn-primary submitButton customSubmitButton"><b>Update</b></button>

        </div> 


        </div>


        </form> 


    </div> 

    {% if MouldUpdate %}
        <div class="container"> 

             <table class="table"> 
                    <thead>
                        <tr>
                            <th scope="col">Mould ID</th>
                            <th scope="col">Mould Name</th>
                            <th scope="col">Date</th>
                            {% comment %} <th scope="col">time</th> {% endcomment %}
                            <th scope="col">increment</th> 
                        </tr>
                    </thead>
            

                    <tbody> 
                        {% for mould in target_mould_data %}
                           <tr class="table-info"> 
                                    <td class="table-info"> 
                                        <a href="/mould/{{ mould.mould_id }}"> 
                                            {{ mould.mould_id }}
                                        </a> 
                                    </td> 
                                    <td class="table-info"> 
                                        {{ mould.mould_id.mould_name }}
                                    </td> 

                                    <td class="table-info"> 
                                        {{ mould.status_update.date }}
                                    </td> 

                                    {% comment %} <td class="table-info"> 
                                        {{ mould.static_update.time }}
                                    </td>  {% endcomment %}

                                    <td class="table-info"> 
                                        {{ mould.count_increment }}
                                    </td> 
                                </tr> 
                            {% endfor %}

                    </tbody> 

            </table> 

        </div>
    {% endif %}
   
    
{% endblock %}

